.apply[data-v-e7614edb] { background: rgb(255, 252, 244); min-height: 100vh; }
.apply-vip[data-v-e7614edb] { background: linear-gradient(rgb(255, 218, 101) 0%, rgb(255, 252, 244) 100%) 0% 0% / 100% 30% no-repeat; }
.apply .team[data-v-e7614edb] { border-radius: 0.15385rem; }
.apply-content[data-v-e7614edb] { background: url("./apply_vip_bg-ff9b1f92.png") center center / contain no-repeat; min-height: 4.05128rem; padding: 0.82051rem 0.41026rem 0.61538rem; }
.apply-content h3[data-v-e7614edb] { color: rgb(245, 186, 0); font-weight: 500; font-size: 0.41026rem; }
.apply-content p[data-v-e7614edb] { font-size: 0.35897rem; font-weight: 400; }
.apply-content p span[data-v-e7614edb] { color: rgb(238, 77, 77); }
.apply-content .btn[data-v-e7614edb] { height: 1.23077rem; border-radius: 0.20513rem; }
