@charset "UTF-8";

[data-v-124c1930] .x-popup {
    padding: .51282rem .35897rem .35897rem;
    border-radius: .12821rem .12821rem 0 0
}

[data-v-124c1930] .x-popup .img {
    display: block;
    margin: 0 auto
}

[data-v-124c1930] .x-popup .title {
    font-size: .46154rem;
    font-weight: 600;
    color: #1f262f;
    letter-spacing: -.00821rem
}

[data-v-124c1930] .x-popup .txt {
    color: #1f262f;
    font-size: .35897rem
}

[data-v-124c1930] .x-popup .content {
    margin-top: .41026rem;
    padding: .41026rem .30769rem;
    border-radius: .20513rem;
    background: #F7F8FC
}

[data-v-124c1930] .x-popup .content .sub {
    font-size: .41026rem;
    color: #4cb957;
    font-weight: 600
}

[data-v-124c1930] .x-popup .content .item {
    width: calc(33.3% - .25641rem);
    height: 1.23077rem;
    line-height: 1.23077rem;
    text-align: center;
    border: .02564rem solid #CFD7E2;
    color: #1f262f;
    border-radius: .10256rem;
    margin-right: .38462rem
}

[data-v-124c1930] .x-popup .content .item.active {
    background: #FFCE34;
    border-color: #ffce34;
    color: #1f262f
}

[data-v-124c1930] .x-popup .content .item h5 {
    font-size: .41026rem
}

[data-v-124c1930] .x-popup .content .item p {
    font-size: .41026rem;
    color: #1f262f;
    font-weight: 700
}

[data-v-124c1930] .x-popup .content .item p span {
    font-size: .30769rem;
    font-weight: 400
}

[data-v-124c1930] .x-popup .content .item:nth-child(3n) {
    margin-right: 0
}

[data-v-124c1930] .x-popup .close {
    position: absolute;
    top: .38462rem;
    right: .38462rem;
    height: .51282rem;
    width: .51282rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEZSURBVHgB1dRN0sEwGAfwJ3m9FlaO4ii22NQCY6HcQHuCmjIMFunC144buIK7GMMwRBpSoU2aJc8uyfP/TSbJBOCnipB1vj9ZtU37/dHc8lhGnsMydrgct0Bvvf502U3Dwh6EEcmwjIxG4P50KlIKBT64UUeH8jXWwwcs83c+WjHQbpYC1uRGKQX6hj36XLtR7okhigVGcwcwekEYOa1ayVVhrWbFkfMxUIWKXeswJZiIyqXAtKAS1WBhYdBVBlOjOTDYYewC3rbxuigjMOk2n1A3DUUmmDgz3ZNKBE3eWRoagf541kGAPR2mQimiVbteCbgvJq/ZS8D4XRoWFl8T58oy1//cJrHRIyTvT5YWGNZguOh8fl/fX3cEiLjhQiDwXQAAAABJRU5ErkJggg==) no-repeat center center;
    background-size: cover
}

[data-v-124c1930] .x-popup .x-btn {
    height: 1.23077rem
}

.x-buyList-filter[data-v-d4654350] {
    margin-left: -.12821rem;
    top: 1.12821rem;
    position: sticky;
    z-index: 99;
    font-size: .41026rem;
    color: #a2a7ac;
    height: 1.28205rem;
    line-height: .76923rem;
    background-color: #fff
}

.x-buyList-filter .item[data-v-d4654350] {
    border-radius: .76923rem;
    flex: 1;
    margin-left: .25641rem;
    text-align: center;
    padding: 0 .38462rem;
    height: .76923rem
}

.x-buyList-filter .item[data-v-d4654350]:first-child {
    margin-left: 0
}

.x-buyList-filter .item.active[data-v-d4654350] {
    background: #EBECF0;
    color: #373d42
}

.x-buyList-filter .item .filter[data-v-d4654350] {
    font-size: .41026rem
}

.x-buyList-filter .item .filter .img[data-v-d4654350] {
    display: block;
    width: .35897rem;
    height: .38462rem
}

.x-buyList-filter.kyc .box[data-v-d4654350] {
    border-radius: .76923rem;
    background: #EBECF0;
    padding: .10256rem
}

.x-buyList-filter.kyc .box .item[data-v-d4654350] {
    border-radius: .38462rem;
    white-space: nowrap;
    font-size: .41026rem;
    color: #373d42;
    font-weight: 600;
    letter-spacing: -.00821rem
}

.x-buyList-filter.kyc .box .item.active[data-v-d4654350] {
    background: #FFF;
    color: #373d42
}

.x-buyList-filter.kyc .filter .txt[data-v-d4654350] {
    position: relative;
    padding-right: .51282rem
}

.x-buyList-filter.kyc .filter .txt[data-v-d4654350]:after,
.x-buyList-filter.kyc .filter .txt[data-v-d4654350]:before {
    content: "";
    position: absolute;
    right: .12821rem;
    border-style: solid
}

.x-buyList-filter.kyc .filter .txt[data-v-d4654350]:after {
    border-width: 0 .12821rem .12821rem .12821rem;
    border-color: transparent transparent #333 transparent;
    top: .20513rem
}

.x-buyList-filter.kyc .filter .txt[data-v-d4654350]:before {
    border-width: .12821rem .12821rem 0 .12821rem;
    border-color: #333 transparent transparent transparent;
    top: .41026rem
}

.x-buyList-filter.kyc .filter .txt.sort-1[data-v-d4654350]:after {
    border-color: transparent transparent #FFC40B transparent
}

.x-buyList-filter.kyc .filter .txt.sort-2[data-v-d4654350]:before {
    border-color: #FFC40B transparent transparent transparent
}

.x-buyList-list .item .img[data-v-d4654350] {
    border-radius: 1.28205rem
}

.x-buyList-list .item .amount[data-v-d4654350] {
    font-weight: 600
}

.x-buyList-list .item .total[data-v-d4654350] {
    font-size: .35897rem;
    font-weight: 400
}

.x-buyList-list .item>div[data-v-d4654350] {
    font-size: .46154rem;
    color: #1f262f;
    font-weight: 600
}

.x-buyList-list .item .award[data-v-d4654350] {
    background-color: #fac10c;
    font-size: .30769rem;
    padding: .02564rem .07692rem;
    color: #222;
    font-weight: 400
}

.x-buyList-list .item .payimg[data-v-d4654350] {
    background-color: #f5f5f5;
    padding: 0 .12821rem;
    height: .41026rem;
    border-radius: .05128rem
}

.x-buyList-list .item .payimg .paytype[data-v-d4654350] {
    display: block;
    height: .23077rem
}

.x-buyList-list .item .logo[data-v-d4654350] {
    margin-left: .12821rem;
    border-radius: .05128rem;
    display: block
}

.x-buyList-list .item .logo.color1[data-v-d4654350],
.x-buyList-list .item .logo.color2[data-v-d4654350] {
    background: #FDF1EB
}

.x-buyList-list .item p[data-v-d4654350] {
    height: .53846rem;
    line-height: .53846rem;
    background-color: #f5f5f5;
    border-radius: .07692rem;
    color: #8c9196;
    font-size: .30769rem;
    padding: 0 .12821rem
}

.x-buyList-list .item p.award[data-v-d4654350] {
    border-radius: .05128rem;
    background: #FDF1EB;
    color: #ff631b;
    font-size: .30769rem;
    font-weight: 500;
    margin-right: .12821rem
}

.x-buyList-list .item .btn[data-v-d4654350] {
    height: .92308rem;
    min-width: 2.15385rem;
    font-weight: 500;
    font-size: .35897rem
}

.btn[data-v-7c1a276d] {
    height: 1.23077rem;
    border-radius: .20513rem
}

.icon[data-v-7c1a276d] {
    padding-left: .76923rem;
    position: relative;
    font-size: .41026rem;
    color: #fff
}

.icon.arb[data-v-7c1a276d]:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: .5641rem;
    width: .5641rem;
    background: url(./arb-5dc4e7c5.svg) center center no-repeat;
    background-size: contain
}

.icon.usdt[data-v-7c1a276d]:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: .5641rem;
    width: .5641rem;
    background: url(./usdt-f80d2954.svg) center center no-repeat;
    background-size: contain
}

.x-usdt .balance[data-v-7c1a276d],
.x-usdt .trc[data-v-7c1a276d] {
    color: #99a1ac;
    font-weight: 500;
    font-size: .35897rem
}

.x-usdt .balance span[data-v-7c1a276d],
.x-usdt .trc span[data-v-7c1a276d] {
    color: #1f262f
}

.x-usdt .usdtCurrency[data-v-7c1a276d] {
    color: #63a1ff;
    font-weight: 500;
    font-size: .35897rem
}

.x-usdt-head[data-v-7c1a276d] {
    background-color: var(--white);
    border-radius: .12821rem
}

.x-usdt-head p[data-v-7c1a276d] {
    color: #99a1ac;
    font-size: .35897rem;
    margin-bottom: .05128rem
}

.x-usdt-head span[data-v-7c1a276d] {
    color: #1f262f;
    font-weight: 600;
    font-size: .51282rem
}

.x-usdt-content[data-v-7c1a276d] {
    margin-top: .41026rem
}

.x-usdt-content .item[data-v-7c1a276d] {
    background: #1BA27A;
    height: 2.51282rem;
    padding: .41026rem;
    border-radius: .20513rem
}

.x-usdt-content .item[data-v-7c1a276d]:last-of-type {
    background: #FAC10C;
    position: relative;
    margin-top: .15385rem
}

.x-usdt-content .item[data-v-7c1a276d]:last-of-type:after {
    content: "";
    position: absolute;
    top: -.46154rem;
    left: 50%;
    transform: translate(-50%);
    display: block;
    height: .82051rem;
    width: .82051rem;
    background: url(./exchange-44d5a8d0.svg) no-repeat center center;
    background-size: contain
}

.x-usdt-content .item p[data-v-7c1a276d] {
    color: #fff;
    font-size: .35897rem;
    line-height: .64103rem
}

.x-usdt-content .item input[data-v-7c1a276d] {
    margin-top: .25641rem;
    background: none;
    padding-left: 0;
    border: none;
    font-size: .61538rem;
    color: #fff
}

.x-usdt-content .item input[data-v-7c1a276d]::placeholder {
    color: #fff6
}

.x-usdt-content .reward[data-v-7c1a276d] {
    font-size: .38462rem
}

.x-usdt-content .reward span[data-v-7c1a276d] {
    color: red
}

.x-usdt-rate[data-v-7c1a276d] {
    background-color: #f5f6fa;
    padding: .41026rem .30769rem;
    border-radius: .20513rem;
    margin-bottom: .76923rem
}

.x-usdt-rate .title[data-v-7c1a276d] {
    font-size: .41026rem;
    font-weight: 600;
    margin-bottom: .25641rem;
    letter-spacing: -.00821rem
}

.x-usdt-rate .title .icon[data-v-7c1a276d] {
    color: #1f262f
}

.x-usdt-rate .title .icon.rate[data-v-7c1a276d]:after {
    background: url(./rate-40f70a53.svg) center center no-repeat;
    background-size: contain
}

.x-usdt-rate .title .icon.guide[data-v-7c1a276d]:after {
    background: url(./guide-7e0df24f.svg) center center no-repeat;
    background-size: contain
}

.x-usdt-rate .title .num[data-v-7c1a276d] {
    color: #63a1ff;
    font-size: .35897rem;
    letter-spacing: -.00821rem;
    font-weight: 400
}

.x-usdt-rate p[data-v-7c1a276d] {
    color: #1f262f;
    font-size: .35897rem;
    line-height: .51282rem
}

.x-usdt-rate .line[data-v-7c1a276d] {
    border: .02564rem solid #E6E7EB;
    margin: .5641rem 0
}

.x-usdt-list .title[data-v-7c1a276d] {
    height: 1.02564rem;
    line-height: 1.02564rem;
    font-size: .38462rem;
    margin-bottom: .38462rem
}

.x-usdt-list .title .lab[data-v-7c1a276d] {
    position: relative;
    padding-left: .76923rem;
    color: #1f262f;
    font-size: .46154rem
}

.x-usdt-list .title .lab[data-v-7c1a276d]:after {
    content: "";
    height: .53846rem;
    width: .53846rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url(./usdtR-369346ab.svg) no-repeat center center;
    background-size: contain
}

.x-usdt-list .title .all[data-v-7c1a276d] {
    position: relative
}

[data-v-86a99fef] .van-tabs__wrap {
    overflow: visible
}

[data-v-86a99fef] .van-tabs__wrap .van-tab {
    flex: 0 0 25%;
    font-size: .46154rem;
    padding: 0
}

[data-v-86a99fef] .van-tabs__wrap .van-tab__text {
    overflow: visible;
    -webkit-line-clamp: 2;
    display: block;
    text-align: center
}

[data-v-86a99fef] .van-tabs__wrap .van-tabs__line {
    bottom: .51282rem
}

[data-v-86a99fef] .van-key--blue {
    background: #FFC40B
}

.x-arb[data-v-86a99fef] {
    padding: .20513rem .38462rem 0
}

.x-arb .tab-title[data-v-86a99fef] {
    position: relative
}

.x-arb .tab-title span[data-v-86a99fef] {
    position: absolute;
    top: -.51282rem;
    right: -1.07692rem;
    font-size: .30769rem;
    background-color: #f5ba00;
    border-radius: .38462rem .51282rem .51282rem 0;
    padding: 0 .12821rem;
    font-weight: 400
}

.x-arb .tab-title div[data-v-86a99fef] {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: -.64103rem;
    left: -.25641rem;
    font-size: .30769rem;
    text-wrap: nowrap;
    -webkit-line-clamp: 1;
    font-weight: 400
}

.x-arb-tip[data-v-86a99fef] {
    color: #99a1ac;
    font-size: .35897rem
}

.x-arb-quick[data-v-86a99fef] {
    margin-top: 1.12821rem;
    color: #1f262f
}

.x-arb-quick .item[data-v-86a99fef] {
    position: relative
}

.x-arb-quick .item label[data-v-86a99fef] {
    display: block;
    font-size: .35897rem;
    color: #000;
    font-weight: 500;
    margin-bottom: .20513rem
}

.x-arb-quick .item>div[data-v-86a99fef] {
    height: 2.05128rem;
    border-radius: .20513rem;
    border: .02564rem solid #000;
    padding: 0 .41026rem
}

.x-arb-quick .item>div .amount[data-v-86a99fef] {
    color: #1f262f;
    font-weight: 900;
    font-size: .82051rem;
    letter-spacing: -.00821rem
}

.x-arb-quick .item>div.arb[data-v-86a99fef] {
    border: .02564rem solid #E3E3E3;
    background: #F7F7F7
}

.x-arb-quick .item>div.arb .amount[data-v-86a99fef] {
    color: #5d6773
}

.x-arb-quick .item>div .pamount[data-v-86a99fef] {
    color: #5d6773
}

.x-arb-quick .item .tip[data-v-86a99fef] {
    position: absolute;
    bottom: -.5641rem;
    color: #f63e3e;
    font-weight: 400;
    font-size: .35897rem
}

.x-arb-quick .item .txt[data-v-86a99fef] {
    color: #1f262f;
    font-size: .35897rem;
    position: absolute;
    bottom: -.5641rem;
    right: 0
}

.x-arb-quick .item .txt[data-v-86a99fef]:after {
    padding-right: .12821rem;
    display: inline-block;
    content: "◂";
    transform: rotate(180deg)
}

.x-arb-quick input[data-v-86a99fef] {
    width: auto;
    border: none;
    text-align: right
}

.x-arb-quick span[data-v-86a99fef] {
    line-height: 2.05128rem;
    font-size: .35897rem;
    font-weight: 400
}

.x-arb .sub[data-v-86a99fef] {
    margin-top: .41026rem;
    color: #5d6773;
    font-size: .35897rem;
    font-weight: 400
}

.x-arb-level h3[data-v-86a99fef] {
    color: #1f262f;
    text-align: center;
    font-size: .46154rem;
    font-weight: 600;
    letter-spacing: -.00821rem
}

.x-arb-level>div[data-v-86a99fef] {
    font-size: .35897rem;
    line-height: normal;
    color: #99a1ac;
    margin-bottom: .61538rem
}

.x-arb-level>span[data-v-86a99fef] {
    color: #f5ba00;
    font-size: .35897rem;
    font-weight: 500;
    position: relative;
    height: .46154rem
}

.x-arb-level>span[data-v-86a99fef]:after {
    padding-right: .12821rem;
    display: inline-block;
    content: "◂";
    transform: rotate(180deg);
    height: .46154rem
}

.x-arb-box[data-v-86a99fef] {
    padding-top: .20513rem
}

.x-arb .matchFail[data-v-86a99fef] img {
    margin: .76923rem 0 0
}

.x-arb .matchFail[data-v-86a99fef] .content {
    padding: .12821rem .41026rem .61538rem;
    font-size: .35897rem
}