@charset "UTF-8";

.title[data-v-3d9713d9] {
    color: #1f262f;
    font-size: .41026rem;
    font-weight: 500;
    margin-bottom: .25641rem
}

.title .vip[data-v-3d9713d9] {
    color: #f5ba00;
    font-size: .35897rem;
    font-weight: 500
}

.x-task-day[data-v-3d9713d9] {
    margin-bottom: .61538rem
}

.x-task-day[data-v-3d9713d9] .van-skeleton {
    padding: 0
}

.x-task-day .box[data-v-3d9713d9] {
    border-radius: .20513rem;
    background: #FFF;
    box-shadow: 0 .07692rem .25641rem #faf1d2;
    padding: .41026rem .30769rem 0;
    width: 100%;
    position: relative
}

.x-task-day .box.min-height[data-v-3d9713d9] {
    min-height: 7.17949rem
}

.x-task-day .box-apply[data-v-3d9713d9] {
    -webkit-backdrop-filter: blur(.25641rem);
    backdrop-filter: blur(.25641rem);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: .41026rem;
    z-index: 9
}

.x-task-day .box-apply .img[data-v-3d9713d9] {
    width: 1.02564rem;
    height: 1.02564rem;
    display: block
}

.x-task-day .box-apply .btn[data-v-3d9713d9] {
    margin-top: 1.23077rem;
    width: 100%;
    height: 1.23077rem;
    border-radius: .20513rem;
    background: #FFC40B;
    color: #1f262f;
    font-size: .41026rem
}

.x-task-day .item[data-v-3d9713d9] {
    border-bottom: .02564rem solid #F9F6EE;
    padding-bottom: .30769rem;
    margin-bottom: .30769rem
}

.x-task-day .item[data-v-3d9713d9]:last-child {
    margin-bottom: 0;
    border-bottom: none
}

.x-task-day .item .arb[data-v-3d9713d9] {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    color: #f5ba00;
    font-family: Roboto;
    font-size: .30769rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -.00821rem;
    margin-right: .10256rem;
    margin-left: .10256rem;
    min-width: 1.79487rem;
    font-weight: 500
}

.x-task-day .item .sub[data-v-3d9713d9] {
    font-size: .35897rem;
    color: #1f262f;
    font-weight: 400;
    letter-spacing: -.00821rem;
    flex: 1;
    min-width: 0
}

.x-task-day .item .sub .lab[data-v-3d9713d9] {
    margin-top: .07692rem;
    color: #707a83;
    font-size: .30769rem
}

.x-task-day .item .btn[data-v-3d9713d9] {
    height: .64103rem;
    line-height: .58974rem;
    padding: 0 .30769rem;
    border-radius: .92308rem;
    white-space: nowrap;
    flex-shrink: 0;
    min-width: 1.95385rem;
    border: .02564rem solid #FFC40B;
    background: #FFC40B;
    color: #1f262f;
    text-align: center
}

.x-task-day .item .btn-1[data-v-3d9713d9] {
    background: #FFC40B;
    color: #1f262f
}

.x-task-day .item .btn-2[data-v-3d9713d9] {
    color: #9199a1;
    background: #E3E3E3;
    border-color: #e3e3e3
}

.x-task-day .item .btn-level[data-v-3d9713d9] {
    background: none;
    color: #f5ba00
}
.van-tab__text {
  position: relative;
  padding-bottom: 4px;
}

.van-text-active {
  border-bottom: 2px solid #000; /* सिर्फ text के नीचे underline */
  
}
